<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.statesofmind.myapplication12">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Joreschat"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Message"
            android:label="Message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatActivity"
            android:label="Chat"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".AutoRun"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".FoneService" />

        <activity
            android:name=".Image"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Music"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Note"
            android:label="@string/title_activity_note"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".Menu_app"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".Docs"
            android:label="@string/title_activity_docs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Video"
            android:label="@string/title_activity_video"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>